@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Libertinus+Math&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
    font-family: "Playfair Display", sans-serif;
    background-color: #fdfaf6;
    background-image: url('/corner.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover; 
}

.quill-container .ql-container {
  min-height: 200px;
  border-bottom-left-radius: 0.375rem; /* match Tailwind rounded-md */
  border-bottom-right-radius: 0.375rem;
}

.quill-container .ql-toolbar {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
